# Dependencies
node_modules

# Build artifacts
build
dist

# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile

# Configs and scripts
deploy.bat
k8s

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*